@import url('https://fonts.googleapis.com/css?family=Merriweather:wght@400; 700&far');

body {
    /* Applying Inter as the default font */
    font-family: 'Inter', sans-serif;
    background-color: '#212529' !important;
    /* bootstrap dark bg color */
}

.font-serif {
    /* Applying Merriweather as the font-serif */
    font-family: 'Merriweather', serif;
}

.hover-text-warning:hover {
    color: #ffc107 !important;
    /* Bootstrap warning color */
}

.card-hover {
    transition: transform 0.3s ease;
}

.card-hover:hover {
    transform: scale(1.03);
}

/* Bootstrap dark form overrides for golden focus */
.form-control.bg-black {
    background-color: #1a1a1a;
    border-color: #444;
}

.form-control.bg-black:focus {
    background-color: #1a1a1a;
    color: white;
    border-color: #ffc107;
    box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0, 25);
}

/* Make navbar-nav links centered and pop more on hover */
navbar-nav .nav-link {
    transition: color 0.2s;
    text-align: center;
}

.navbar-nav .nav-link:hover {
    color: #ffc107 !important;
    /* Bootstrap warning color */
}

/* Custom min-height for hero */
.hero-section {
    min-height: 70vh;
    background-attachment: fixed;
    /* Parallax-like effect, can be pe */
}


/* Ensure iframes are responsive */
iframe {
    max-width: 100%;
}